.container{
    text-align: center;
    margin-top: 23;
}
table{
    margin:auto
}
input{
    font-size: 40px;
    height: 62px;
    width: 309px;
    border-radius: 6px;
}
button{
    font-size: 33px;
    background-color: blanchedalmond;
    width: 76px;
    height: 67px;
    border-radius: 8px;
    padding: 12px;
    cursor:pointer;
    
}
.calContainer{
    display: inline-block;
    border: 5px solid red;
    background-color: black;
    border-radius: 9px;
    padding: 15px;
}
h1{
    font-size: 42px;
    font-style: initial;
    color: darkred
}